{% extends "layout.html" %}

{% load static %}

{% block title %} test {% endblock %}

{% block style %}

{% endblock %}

{% block main %} 
<div class="container">
  <div class="card">
    <h2>What are your strengths?</h2>
    <hr/>
    <div class="card-body">
      <h5 class="card-title">Accuracy</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      <h5 class="card-title">Grammar</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      <h5 class="card-title">Confidence score</h5>
      <p class="card-text">5/5</p>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}


{% endblock %}